.movies-container {
  margin: 80px auto 0 auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 30px;
  row-gap: 58px;
  justify-content: center;
}

@media (max-width: 1279px) {
  .movies-container {
    row-gap: 47px;
  }
}

@media (max-width: 810px) {
  .movies-container {
    grid-template-columns: repeat(auto-fit, 339px);
  }
}


@media (max-width: 370px) {
  .movies-container {
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 39px;
  }
}
