.input-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 10px;
  height: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #8B8B8B;
}

.input {
  height: 46px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 8px;
  padding: 0 0 0 15px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
  outline: none;
}

.input-element:last-of-type {
  margin-bottom: 0;
}

.input:focus {
  outline-style: solid;
  outline-color: #8B8B8B;
  outline-width: 2px;
}

.input_secret {
  color: #EE3465;
}