.section-title {
  height: 51px;
  margin: 0;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  line-height: 26.63px;
  width: 100%;
  border-bottom: 1px solid #DADADA;
}


@media (max-width: 767px) {
  .section-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: 21.78px;
  }
}