.error-message {
  margin: 10px 0;
  height: 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #EE3465;
  display: none;
}

.error-message_visible {
  display: flex;
}