.form__link {
  margin: 16px auto 0 auto;
  text-decoration: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #8B8B8B;
}

.form__link_span {
  margin-left: 6px;
  color: #4285F4;
}

@media (max-width: 650px) {
  .form__link {
    margin-top: 14px;
    font-size: 12px;
  }
}