.filter {
  margin: 28px auto 0px auto;
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #424242;
  grid-column: 1/3;
}

.filter__image {
  margin: 0 0 40px 0;
}

.filter__image:hover {
  cursor: pointer;
}

.filter__name {
  margin: 0 0 40px 12px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
}

.filter__name:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .filter {
    margin-top: 40px;
  }
}

@media (max-width: 650px) {
  .filter {
    margin-top: 47px;
  }

  .filter__name {
  margin-left: 13px;
  font-size: 11px;
}
}