.techs {
  max-width: 1280px;
  min-width: 284px;
  padding: 0 70px 0 70px;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title {
  margin: 100px auto 0 0;
}

.techs__article_title {
  margin: 90px 0 26px 0;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 58px;
}

.techs__paragraph {
  max-width: 460px;
  letter-spacing: -0.56px;
  text-align: center;
  margin-bottom: 100px;
}

.techs__navtab {
  margin-bottom: 100px;
}

.techs__navtab_item {
  margin: 0;
  width: 90px;
  height: 60px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
  line-height: 60px;
}

.techs__navtab_item:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .techs {
    padding-left: 50px;
    padding-right: 50px;
  }

  .techs__title {
    margin-top: 90px;
  }

  .techs__article_title {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__paragraph {
    margin-bottom: 83px;
  }
  
  .techs__navtab {
    margin-bottom: 90px;
  }

  .techs__navtab_item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
    line-height: 57px;
  }

}

@media (max-width: 767px) {
  .techs {
    padding-left: 18px;
    padding-right: 18px;
  }

  .techs__title {
    margin-top: 80px;
    border-bottom: 1px solid #000;
  }

  .techs__article_title {
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 30px;
    letter-spacing: 1.2px;
    line-height: 36.31px;
  }

  .techs__paragraph {
    min-width: 292px;
    margin-bottom: 50px;
  }

  .techs__navtab {
    width: fit-content;
    margin-bottom: 70px;
    padding-left: 53px;
    padding-right: 53px;
  }
}

