.navtab {
  margin: 0 auto 30px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.navtab__link {
  width: 96px;
  height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  background-color: #303030;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .navtab {
    margin-bottom: 17px;
    column-gap: 6px;
  }
  
  .navtab__link {
    width: 82px;
    height: 26px;
    line-height: 26px;
    font-size: 10px;
  }
}